<%- include('../../shared/includes/head', { pageTitle: 'Failure' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Your Order failed</h1>
    <p>Your Order failed, kindly check back again</p>
  </main>
<%- include('../../shared/includes/footer') %>